.container {
  width: 70%;
  max-width: 600px;
  min-width: 410px;
}

.navbar {
  background-color: rgb(63, 32, 32);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.far {
  font-size: 1.5rem;
  margin-left: 8px;
}

.card-edit-trash-icons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-self: left;
  align-items: center;
}

.edit-delete-icons {
  font-size: 2.5rem;
}

.cardImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.footer {
  background-color: rgb(63, 32, 32);
  color: antiquewhite;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 780px) {
  .card-edit-trash-icons-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .col-md-4 {
    margin-top: 8px;
  }
}
